body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

nav {
    background-color: #ebebeb;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

li a:hover {
    background-color: rgb(219, 130, 130);
    padding: 5px;
    border-radius: 5px;
}

img {
    margin-top: 10px;
}